<div class="w-full h-full gap-y-1 flex flex-col items-center bg-neutral-500">
  @for(_user of users();track _user.id){
  <div class="w-full h-8 flex items-center justify-between px-2 bg-neutral-400">
    <h3 class="text-lg font-semibold">{{ _user.username }}</h3>
    @if(_user.id!=user()?.id){
    <button
      (click)="startCall(_user)"
      class="h-full aspect-square rounded-full flex items-center justify-center hover:bg-neutral-600"
    >
      <mat-icon style="width: 80%; height: 80%">call</mat-icon>
    </button>
    }@else{
    <p class="">You</p>
    }
  </div>
  }@empty {
    <p class="w-full text-lg font-semibold text-center mt-2">No User Found</p>
  }
</div>
